<div style="height: 20px; background-color: violet; color: azure;">
<p style="text-align: center;">La página oficial de las NewJeans</p></div>
<div style="height: 20px; background-color: violet;color: azure;display: flex;align-items: center;justify-content: center;">
<div style="margin: 5px; color: blue; text-decoration: underline;"><p>Miembros</p></div>
<div style="margin: 5px; color: blue; text-decoration: underline;"><p>Canciones</p></div>
<div style="margin: 5px; color: blue; text-decoration: underline;"><p>Fotos</p></div></div>
